<div class="container row">
  <h1>About</h1>
</div>
<hr>
<div class="about-container row container">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h3>About Us</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit doloremque commodi mollitia quae ab perspiciatis eos est ex fuga minus, 
      necessitatibus maxime. Corporis perferendis ex repudiandae hic iure itaque ratione.
    </p>
    <h3>How We Work</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque adipisci itaque cum ex odit deserunt dignissimos quaerat eos, quisquam 
      eaque eveniet reprehenderit recusandae laboriosam ea laborum facere provident dolores! Impedit?
    </p>
    <h3>Contact Us</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis, illum, nisi harum similique iusto neque dolore eos ipsum impedit 
      porro officia veritatis. Tenetur architecto unde, autem dolorem numquam voluptatum ducimus.
    </p>
    <h3>Privacy Policy</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, beatae fuga soluta ipsum excepturi vel. Rem similique vel facere est 
      molestias, excepturi odio recusandae ipsam, aperiam provident pariatur ducimus quisquam.
    </p>
  </div>
  <div class="col-md-1"></div>
</div>